html {
    font-family: sans-serif;
}

body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.page-container {
    background-color: grey;
    flex-basis: 75%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: flex-end;

    font-family: sans-serif;

    padding: 20px 100px;
    gap: 16px;
    align-items: baseline;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;

    margin-right: auto;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
}

.section-two {
    display: flex;
    padding: 20px 100px;
    background-color: #1f2937;
}

.two-text {
    color: #e5e7eb;
    flex-basis: 50%;
    margin-right: 5px;
    
}

.two-img {
    display: flex;
    background-color: grey;
    flex-basis: 50%;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 5px;
}

.two-big-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.two-text p {
    margin-top: 0px;
    margin-bottom: 2px;
}

.two-button {
    background-color: #3882f6;
    color: white;
    font-weight: 600;
    padding: 6px 20px;
    border-radius: .5em;
    border: 0px;
}

.section-three {
    background-color: white;
    text-align: center;
    padding-bottom: 50px;
}

.section-three h1 {
    margin: 25px;
}

.card-img {
    border: 4px solid #3882f6;
    height: 100px;
    width: 100px;
    border-radius: .5em;
}

.card-holder {
    display: flex;
    padding: 0px 50px;
    gap: 25px;

    justify-content: center;
    align-items: center;
}

.subtext {
    color: #1f2937;
    text-align: center;
    padding: 8px;
}

.section-four {
    background-color: #E5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s4-holder {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.quote-author {
    align-self: flex-end;
    flex-grow: 0;
    border: 1px solid brown;
}

.section-five {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}

.cta {
    background-color: #3882f6;
    padding: 50px 25px;
    flex-grow: 1;
    display: flex;
    border-radius: .5em;
    color: white;
}

.cta-left {
    margin-right: auto;
}

.cta-headline {
    font-size: 24px;
    font-weight: 800;
}

.five-button {
    background-color: #3882f6;
    color: white;
    font-weight: 600;
    padding: 6px 20px;
    border-radius: .5em;
    border: 2px solid white;
    align-self: center;
}